* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

:root{
    --cor-header: #0e6d55;
    --cor-tabela: #fffbd3a9;
    --cor-tabela2: #aca450;
    --cor-tabela3: #777025;
    --cor-fundo: #e3faee;
}

body{
    background-color: var(--cor-fundo);
}

header{
    text-align: center;
    color: var(--cor-header);
}

header h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
}

header p{
    font-size: 20px;
}

.tabela{
    width: 85%;
    margin: 0 auto;
}

h2{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: left;
    color: var(--cor-tabela3);
    border-bottom: 2px solid var(--cor-tabela3);
}

table, th, td{
    border-bottom: 2px solid var(--cor-tabela2);
    border-collapse: collapse;
    color: var(--cor-tabela3);
    background-color: var(--cor-tabela);
    padding: 10px;
    text-align: center;
    font-size: larger;
}

tr:hover {
    background-color:var(--cor-header)
}

a{
    color: var(--cor-tabela3);
    text-decoration: none;
}

a:hover{
    color: var(--cor-header);
}

.video{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.video iframe{
    padding: 30px;
    background-color: var(--cor-tabela);
    border-radius: 10px;
}